<template>
    <ul class="nav nav-pills">
        <router-link to="/" tag="li" active-class="active" exact><a>Home</a></router-link>
        <router-link to="/user/10" tag="li" active-class="active"><a>User 1</a></router-link>
        <router-link to="/user/12" tag="li" active-class="active"><a>User 2</a></router-link>
    </ul>
</template>

<script>
    export default {}
</script>
