<template>
    <div>
        <h2>Home Page</h2>
        <button @click="goToUser">Go to User</button>
    </div>
</template>

<script>
    export default {
        data() {
            return {};
        },
        methods: {
            goToUser() {
                this.$router.push('/user');
            }
        }
    }
</script>
