<template>
  <div class='components'>
    <h3>User Edit</h3>
    <p>My age is {{ age }}</p>
    <button @click="changeAge()">Edit Age</button>
  </div>
</template>

<script>
import { eventBus } from "../main";

export default {
    props: ['myAge'],
    data() {
        return {
            age: this.myAge
        };
    },
    methods: {
        changeAge() {
            this.age = 30;
            eventBus.$emit('ageWasChanged', this.age);
        }
    }
}
</script>

<style scoped>
    .components{
        background-color: green;
    }
</style>
