<template>
  <div class="components">
    <h2>The User Component</h2>
    <p>I am user ID : {{ id }}</p>
    </hr>
    <div class="row">
        <div class="col-sm-12">
            <button @click="changeName()">Change Name</button>
            <p>Name is : {{ name }}</p>
            <p>Age is : {{ age }}</p>
        </div>
        <div class="col-sm-6">
            <user-detail :myName="name"
                @nameWasReset="name = $event"
                :resetFn="resetName"
                :myAge="age"></user-detail>
        </div>
        <div class="col-sm-6">
            <user-edit :myAge="age"></user-edit>
        </div>
    </div>
    <h3 v-highlight:background.delayed="'green'">I am directive</h3>
    <h3 v-local-highlight:background.delayed.blink="{ mainColor:'grey', secondColor:'white', duration: 500 }">I am directive</h3>
    <div class="row">

        <div class="col-sm-12">
            <h2>Filter Computed</h2>
            <input type="text" name="filterText" v-model="filterText">
            <ul>
                <li v-for="fruit in filteredFruits"> {{ fruit }}</li>
            </ul>
        </div>
    </div>
  </div>
</template>

<script>

import UserEdit from './UserEdit.vue';
import UserDetail from './UserDetail.vue';
import { fruitMixin } from '../fruitMixin';

export default {
    mixins: [fruitMixin],
    data () {
        return {
            name: 'Max',
            age: 27,
            id: this.$route.params.id
        };
    },
    methods: {
        changeName () {
            this.name = 'Anna';
        },
        resetName () {
            this.name = 'max';
        }
    },
    watch: {
        '$route'(to, from){
            this.id = to.params.id;
        }
    },
    components: {
        UserDetail,
        UserEdit
    },
    directives: {
        'local-highlight': {
            bind(el, binding, vnode) {
                let delay = 0;

                if (binding.modifiers['delayed']) {
                    delay = 3000;
                }

                if (binding.modifiers['blink']) {
                    let mainColor = binding.value.mainColor;
                    let secondColor = binding.value.secondColor;
                    let currentColor = mainColor;

                    setTimeout(() => {
                        setInterval(() =>  {
                            currentColor == secondColor ? currentColor = mainColor : currentColor = secondColor;
                            if (binding. arg == 'background') {
                                el.style.backgroundColor = currentColor;
                            } else {
                                el.style.color = currentColor;
                            }
                        }, binding.value.duration);
                    }, delay);
                } else {
                    setTimeout(() => {
                        if (binding. arg == 'background') {
                            el.style.backgroundColor = currentColor;
                        } else {
                            el.style.color = currentColor;
                        }
                    }, delay);
                }
            }
        }
    }
}
</script>

<style scoped>
    .components {
        background: lightblue;
    }
</style>
