<template>
  <div class='components'>
    <h3>User detail</h3>
    <p>My Name is : {{ switchName() }}</p>
    <p>My Age : {{ age }}</p>
    <button @click="resetName">Reset Name</button>
    <button @click="resetFn">Reset Name</button>
  </div>
</template>

<script>
import { eventBus } from "../main";

export default {
    props: {
        myName:{
            type: String,
            required: true
        },
        resetFn: Function,
        myAge: Number
    },
    data() {
        return {
            age: this.myAge
        };
    },
    methods: {
        switchName() {
            return this.myName.split("").reverse().join("");
        },
        resetName() {
            this.myName = "Max";
            this.$emit('nameWasReset', this.myName);
        }
    },
    created() {
        eventBus.$on('ageWasChanged', (age) => {
            this.age = age;
        });
    }
}
</script>

<style scoped>
    .components{
        background: yellow;
    }
</style>
