<template>
  <div class='container'>
    <div class="row">
        <div class="col-xs-12">
            <app-header></app-header>
            <router-view></router-view>
        </div>
    </div>
  </div>
</template>

<script>
import AppHeader from './components/Shared/Header.vue';

export default {
    components: {
        AppHeader
    }
}
</script>
